 h2 {
    font-size: 38px;
    line-height: 40px;
    padding: 0 0 40px 0;
    text-transform: uppercase;
    color: #454545;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
}

h4,
h6
h2{
      font-family: "Rubik", sans-serif;
     font-weight: normal;
}

h4 
{
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

h6 {
    font-size: 18px;
    line-height: 22px;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}

.img-responsive1 {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.box-step {
  padding: 0 0 18px 0;
  overflow: hidden;
}
.box-step .item::after {
  background: rgba(0, 0, 0, 0) url("step-arrow2.png") no-repeat scroll 0 0 / cover ;
  content: "";
  height: 100px;
  position: absolute;
  right: -24%;
  top: 0;
  width: 120px;
}
.box-step .item:nth-child(3)::after {
    right: -24%;
}
.box-step .item:nth-child(4)::after {
    right: -60%;
}
.box-step .item:nth-child(2n+1)::after {
	background: rgba(0, 0, 0, 0) url("step-arrow1.png") no-repeat scroll 0 0;
	background-size: cover;
}
.box-step .item:last-child:after{
	display: none;
}
.box-step h2 {
  margin-bottom: 41px;
  padding: 0 15px;
  text-align: center;
}
.box-step .item {
  float: left;
  position: relative;
  padding-bottom: 60px;
}
@media (max-width: 1199px) {
	.box-step .item::after {
		width: 70px;
		height: 60px;
		top: 15px;
	}
	.box-step .item:nth-child(2)::after {
		right: -20%;
	}
	.box-step .item:nth-child(3)::after {
		right: -18%;
	}
	.box-step .item::after {
		right: -14%;
	}
}
@media (max-width: 1024px) {
	.box-step .item::after {
		right: -18%;
	}
}
@media (max-width: 767px) {
  .box-step .item {
    text-align: center;
  }
  .box-step .item:after {
    display: none;
  }
}
.box-step .item:hover .title {
  color: #454545;
}
@media (min-width: 1200px) {
  .box-step .item:hover .title {
    margin-top: 19px;
    margin-bottom: -10px;
  }
}
.box-step .item:hover .description {
  color: #009cdc;
}
.box-step .item:hover .icon img {
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.box-step .item:last-child {
  margin-right: 0;
}
.box-step .icon {
  text-align: center;
}
.box-step .icon img {
  height: auto;
  transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.box-step .description {
    text-align: center;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    margin-top: 23px;
    margin-bottom: 0;
}
.box-step .title {
  text-align: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 9px;
} 

.contact-box-row:first-child {
    margin-top: 0;
}

.contact-box-row {
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    padding-left: 35px;
    margin-top: 16px;
}

.box-step .title span {
    color: #009cdc;
}


